body{
    background-color: rgb(70, 130, 180);
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: medium;
}

h1{
    font-size: 6vh;
    color: #fafafa;
}
h1:hover {
    cursor: pointer;
    transform: scale(1.1);
}

h2:hover{
    cursor: pointer;
    
}
.login{
display: grid;
align-content: center;
justify-items: center;
align-items: center;
justify-content: center;
}